<!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <img [src]="myPhoto" alt="" width="50" height="50">
    </div>   
  </nav> -->

  <ul class="nav">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Posts</a>
    </li>
  </ul>

