<form #userForm ="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputName">Username</label>
      <input type="text" [(ngModel)]="userModel.name" ngModel required [class.is-invalid]="name.invalid && name.touched" name="txtname" #name="ngModel" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter username">
      <small id="namelHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)]="userModel.password" ngModel required  [class.is-invalid]="password.invalid && password.touched" name="txtpassword" #password="ngModel" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
   <br>
    <button [disabled]="!userForm.form.valid" value="Submit Form" type="submit" class="btn btn-primary">Submit</button>
    <br>
  </form>