
<!-- CSS only -->

<app-header></app-header>

<!--
<app-product></app-product> 
<br>
<button (click) ="render()"  class="btn btn-secondary" >view all products</button> 

<div *ngIf = "thenTable ;then thenTable "></div>

    <ng-template #thenTable>
        <table style="border: 2px solid black;" >
            
           <tr *ngFor= "let product of products" style="border: 2px solid black;" >
               
       
               <td style="border: 2px solid black;">
                   {{product.id}}
               </td>
             
               <td style="border: 2px solid black;">
                   {{product.name}}
               </td>
               <td style="border: 2px solid black;">
                   {{product.price}}
               </td>
       
              
           </tr>
       
        </table>
        </ng-template>
-->
 <router-outlet></router-outlet>

 <app-footer></app-footer> 

