
<button (click) ="Discount()" class="btn btn-primary">product with discount</button>
<button (click)="noDiscount()" class="btn btn-primary">product without discount</button>

<router-outlet></router-outlet>
<h1>Store Name is : {{storeName}}</h1>

<div *ngIf = "discount ;then thenBlock"></div>

<ng-template #thenBlock >
<h3>We offer an explicit discount of {{discount}}</h3>
</ng-template>




<select>
    <option value="default">pick category you want</option>
    <option *ngFor="let category of categoryList " [value]= "category">
        {{category.name}}
    </option>
    
</select>


<br>

<input type="button" (click)= "update()" value="buy">
<h2 *ngIf ="IsPurshased; then thenTable ;else thanking"></h2>
<ng-template #thenTable>
 <table style="border: 2px solid black;" >
     
    <tr *ngFor="let product of productList " style="border: 2px solid black;" >
        

        <td style="border: 2px solid black;">
            {{product.id}}
        </td>
      
        <td style="border: 2px solid black;">
            {{product.name}}
        </td>
        <td style="border: 2px solid black;">
            {{product.price}}
        </td>

       
    </tr>

 </table>
 </ng-template>

<ng-template #thanking>
<div>Thank you for Purshase {{clientName}}</div>
</ng-template>

{{storeName | uppercase}}
<br>
{{discount | percent }} 

<br>
<img [src]="productList[0].image" alt="" height="70px" width="70px">




