
        <table style="border: 2px solid black;" *ngIf="userList?.length">
            
            <tr>
                <td>Name</td>
                <td>Username</td>
                <td>Email</td>
            </tr>
           <tr *ngFor= "let user of userList" style="border: 2px solid black;" >
               
       
               <td style="border: 2px solid black;">
                   {{user.name}}
               </td>
             
               <td style="border: 2px solid black;">
                   {{user.username}}
               </td>
               <td style="border: 2px solid black;">
                   {{user.email}}
               </td>
       
              
           </tr>
       
        </table>
      