
<!--
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                  
                  
                  <form #userForm ="ngForm" novalidate (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
                    {{userForm.value | json}} 
                    <br>
                    {{userModel | json}}

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>

                      <div class="form-outline flex-fill mb-0">

                        <label class="form-label" for="form3Example1c">Your Name</label>
                        <input [(ngModel)]="userModel.name" ngModel required pattern="^[A-Za-z]*$"  [class.is-invalid]="name.invalid && name.touched " name="txtname" #name="ngModel" type="text" id="form3Example1c" class="form-control" />
                        <div *ngIf ="name.errors">
                          <small class="text-danger" *ngIf="name.errors['pattern']">Name must characters only</small>
                          <small class="text-danger" *ngIf="name.errors['required']" [class.d-none]="name.valid || name.untouched">Name is required</small>
                        </div>
                        
                        
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">

                        <label class="form-label" for="form3Example3c">Your Email</label>
                        <input [(ngModel)]="userModel.email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [class.is-invalid]="email.invalid && email.touched" name="txtemail" #email="ngModel" type="email" id="form3Example3c" class="form-control" />
                        <div *ngIf ="email.errors">
                          <small class="text-danger" *ngIf="email.errors['pattern']">Email must contain @ & .</small>
                          <small class="text-danger" *ngIf="email.errors['required']" [class.d-none]="email.valid || email.untouched">Email is required</small>
                        </div>
                        
                      
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">

                        <label class="form-label" for="form3Example4c">Password</label>
                        <input [(ngModel)]="userModel.password" ngModel required  [class.is-invalid]="password.invalid && password.touched" name="txtpassword" #password="ngModel" type="password" id="form3Example4c" class="form-control" />
                        <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required</small>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">

                        <label class="form-label" for="form3Example4cd">Repeat your password</label>
                        <input [(ngModel)]="userModel.confirmPassword" ngModel required  [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched" name="txtconfirmpassword"  #confirmpassword="ngModel" type="password" id="form3Example4cd" class="form-control" />
                        <small class="text-danger" [class.d-none]="confirmpassword.valid || confirmpassword.untouched">Repeat password is required</small>
                      </div>
                    </div>
                    <label class="form-label" for="form3Example4cd">From where you know about us?</label>
                        <div class="form-group">

                            <select [(ngModel)]="userModel.site" ngModel required  [class.is-invalid]="site.invalid && site.touched" name="txtsite" #site="ngModel" class= "custom-select">
                                <option selected >----please select option----</option>
                                <option *ngFor ="let sitee of sites">{{sitee}} </option>
                            </select>
                            
                        </div>
                    
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <input type="submit" [disabled]="!userForm.form.valid" value="Submit Form" name="btn" class="btn btn-primary btn-lg"  >
                      
                        
                    
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
-->



<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                <!-- form -->
                <form [formGroup]="registerationForm" class="mx-1 mx-md-4">
                

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>

                    <div class="form-outline flex-fill mb-0">

                      <label class="form-label" for="form3Example1c">Your Name</label>
                      <input formControlName="username"  [class.is-invalid]="userName?.invalid && userName?.touched "  name="txtname"  type="text" id="form3Example1c" class="form-control" />
                      
                      <div *ngIf ="userName?.invalid && userName?.touched">
                        <small class="text-danger" *ngIf="userName?.errors?.['pattern']" >Name must characters only</small>
                        <small class="text-danger" *ngIf="userName?.errors?.['required']">Name is required</small>
                      </div>
                        
                      
                        
                      
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <label class="form-label" for="form3Example3c">Your Email</label>
                      <input formControlName="email"  name="txtemail" [class.is-invalid]="Email?.invalid && Email?.touched " type="email" id="form3Example3c" class="form-control" />
                     <div *ngIf ="Email?.invalid && Email?.touched">
                        <small class="text-danger" *ngIf="Email?.errors?.['email']" >Email must contain @ & .</small>
                        <small class="text-danger" *ngIf="userName?.errors?.['required']">Email is required</small>
                      </div>
                      
                    
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <label class="form-label" for="form3Example4c">Password</label>
                      <input formControlName="password" [class.is-invalid]="Password?.invalid && Password?.touched "  name="txtpassword" type="password" id="form3Example4c" class="form-control" />
                      <div *ngIf ="Password?.invalid && Password?.touched">
                      <small class="text-danger" *ngIf="Password?.errors?.['required']">password is required</small>
                      <small class="text-danger" *ngIf="Password?.errors?.['matching']">must be matched</small>
                        </div>
                        

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                      <input formControlName="confirmPassword" [class.is-invalid]="ConfirmPassword?.invalid && ConfirmPassword?.touched "  name="txtconfirmpassword"   type="password" id="form3Example4cd" class="form-control" />
                      <div *ngIf ="ConfirmPassword?.invalid && ConfirmPassword?.touched">
                        <small class="text-danger" *ngIf="ConfirmPassword?.errors?.['required']">password is required</small>
                        <br>
                        <small class="text-danger" *ngIf="ConfirmPassword?.errors?.['matching']">password must be matched</small>
                          </div>

                          
                    </div>
                  </div>
                  <label class="form-label" for="form3Example4cd">From where you know about us?</label>
                      <div class="form-group">

                          <select   name="txtsite"  class= "custom-select">
                              <option selected >----please select option----</option>
                              <option *ngFor ="let sitee of sites">{{sitee}} </option>
                          </select>
                          
                      </div>
                  

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input type="submit"  value="Submit Form" name="btn" class="btn btn-primary btn-lg"  >
                    
                      
                  <button (click)="getData()">get data</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


